#container {
    margin: 0 auto;
    width: 90%;
    box-shadow: 1px 1px 6px;
}

header {
    background: grey;
    padding: 10px;
}

nav, footer {
    height: 20px;
    background: pink;
}

nav ul {
    margin: 0;
}

nav ul li {
    list-style: none;
    display: inline;
}

nav ul li a {
    color: grey;
    text-decoration: none;
    margin: 0 20px;
}

section {
    padding: 20px;
}