<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:300" rel="stylesheet">
    <link rel="stylesheet" href="styles/style.min.css">
    <title>Dreamshare</title>
</head>
<body>
    <main>
        <div class="promo">
            <div class="center">
                <div class="logIn">
                    <a href="#">Log In</a>
                    <a href="#" class="signUp">Sign Up</a>
                </div>
                <h5>Dreamshare</h5>
                <h1>Share your holiday dreams</h1>
                <h2>And find the perfect partner to fullfill it.</h2>
                <a href="#" class="button">Find your holiday partner</a>
            </div>
        </div>
        <div class="center steps">
            <h3>How Dreamshare works?</h3>
            <section class="stepsContainer">
                <div class="step one">
                    <article>
                        <a href="#" class="button">Step 1</a>
                        <h4>Sed leo enim, condimentum</h4>
                        <p>Bacon ipsum dolor amet shankle jowl boudin pork chop. Picanha beef ribs prosciutto cow hamburger bacon. </p>
                    </article>
                </div>
                <div class="step two">
                    <article>
                        <a href="#" class="button">Step 2</a>
                        <h4>Morbi velit risus</h4>
                        <p>Rump turducken bresaola beef ribs, frankfurter short loin chicken porchetta drumstick pancetta. Meatball chuck short ribs,</p>
                    </article>
                </div>
                <div class="step three">
                    <article>
                        <a href="#" class="button">Step 3</a>
                        <h4>Sed leo enim, condimentum</h4>
                        <p>Bacon ipsum dolor amet shankle jowl boudin pork chop. Picanha beef ribs prosciutto cow hamburger bacon. </p>
                    </article>
                </div>
            </section>
        </div>
        <div class="center partnerSearch">
            <h3>Discover holiday activity ideas</h3>
            <h4>Hi What are your holiday interests?</h4>
            <form class="">
                <input type="text" placeholder="Enter your interests">
                <input type="submit" class="button" value="Search partners">
            </form>
        </div>
    </main>
    <footer>
        <div class="center">
            <h5>Dreamshare</h5>
            <section class="company">
                <h6>Company</h6>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contacts</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </section>
            <h6>Partners</h6>
            <div class="design">
                <h6>designed by</h6>
                <img src="img/designlogo.png" alt="">
            </div>
        </div>
    </footer>
</body>
</html>
