* {
  box-sizing: border-box;
  transition-duration: 0.3s;
}

a {
  display: inline-block;
}

.button {
  background-color: #ff4e50;
  border-radius: 20px;
  border: none;
  color: white;
  text-decoration: none;
}

.center {
  margin: 0 20px;
}

body {
  margin: 0;
  font-family: Montserrat;
  text-align: center;
}

body main .promo {
  background: url("../img/promo.png") no-repeat center center fixed;
  background-size: cover;
  color: white;
  background-color: black;
  padding-top: 20px;
  padding-bottom: 140px;
}

body main .promo .logIn a {
  font-size: 14px;
  font-weight: 700;
  width: 90px;
  color: white;
  text-decoration: none;
  padding: 8px;
}

body main .promo .logIn .signUp {
  border: solid 2px white;
  border-radius: 20px;
}

body main .promo h5 {
  margin: 0;
  font-size: 20px;
  font-weight: 700px;
  text-transform: uppercase;
  margin-top: 120px;
}

body main .promo h1 {
  margin: 0;
  font-size: 30px;
  font-weight: 700px;
  text-transform: uppercase;
  margin-top: 40px;
}

body main .promo h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 300;
  font-family: Roboto;
  margin-top: 20px;
}

body main .promo a.button {
  margin: 0;
  font-size: 14px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin-top: 20px;
}

body main .steps h3 {
  margin: 40px 0 14px;
  color: #333333;
  font-size: 22px;
  font-weight: 700;
}

body main .steps .stepsContainer .one {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%), url("../img/layer1_mobile.png");
}

body main .steps .stepsContainer .two {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%), url("../img/layer2_mobile.png");
}

body main .steps .stepsContainer .three {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%), url("../img/layer3_mobile.png");
}

body main .steps .stepsContainer .step {
  position: relative;
  text-align: left;
  color: white;
  margin: auto;
  height: 238px;
  width: 300px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  margin-bottom: 12px;
}

body main .steps .stepsContainer .step article {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px;
}

body main .steps .stepsContainer .step article a {
  text-align: center;
  width: 70px;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  height: 20px;
  line-height: 20px;
}

body main .steps .stepsContainer .step article h4 {
  font-size: 24px;
  font-weight: 700s;
}

body main .steps .stepsContainer .step article p {
  color: #CCCCCC;
  font-size: 14px;
  font-weight: 300px;
  margin: 0;
}

body main .partnerSearch {
  margin-bottom: 40px;
}

body main .partnerSearch h3 {
  color: #333333;
  font-size: 22px;
  font-weight: 700;
  margin: 40px 0 20px;
}

body main .partnerSearch h4 {
  font-family: Roboto;
  color: #333333;
  font-size: 18px;
  font-weight: 300;
  margin: 16px 0;
}

body main .partnerSearch form input {
  width: 100%;
  font-size: 14px;
  height: 40px;
  margin-bottom: 10px;
}

body main .partnerSearch form input[type="text"] {
  padding-left: 15px;
  border-radius: 4px;
  border: solid 1px #CCCCCC;
  box-shadow: 0px 1px 0px 0px #eeeeee;
}

body main .partnerSearch form input:placeholder {
  font-family: Roboto;
  font-weight: 300;
  color: #999999;
}

body main .partnerSearch form .submit {
  margin-bottom: 40px;
}

body footer {
  border-top: 4px solid #ff4e50;
}

body footer h5 {
  color: #ff4e50;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0;
}

body footer h6 {
  margin: 0;
  font-size: 14px;
  color: #333333;
  font-weight: 700;
  margin-bottom: 17px;
}

body footer section {
  margin-bottom: 17px;
}

body footer section h6 {
  margin: 0;
}

body footer ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

body footer ul li {
  display: inline;
}

body footer ul li a {
  font-family: Roboto;
  color: #666666;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
}

body footer .design h6 {
  margin: 0;
  color: #CCCCCC;
  font-size: 10;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .center {
    margin: 0 40px;
  }
  body main .promo {
    padding-top: 0px;
    padding-bottom: 230px;
  }
  body main .promo .center {
    position: relative;
    padding-top: 225px;
  }
  body main .promo .center .logIn {
    position: absolute;
    top: 40px;
    right: 0;
  }
  body main .promo .center h5 {
    margin: 0;
    position: absolute;
    top: 40px;
    left: 0;
  }
  body main .promo .center h1 {
    margin: 0;
    font-size: 52px;
    margin-bottom: 35px;
  }
  body main .promo .center a.button {
    width: 226px;
  }
  body main .steps.center {
    margin: 0;
  }
  body main .steps.center h3 {
    margin-top: 100px;
    margin-bottom: 40px;
  }
  body main .steps.center .stepsContainer {
    display: flex;
    justify-content: space-around;
  }
  body main .steps.center .stepsContainer .one {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%), url("../img/layer1_tablet.png");
  }
  body main .steps.center .stepsContainer .two {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%), url("../img/layer2_tablet.png");
  }
  body main .steps.center .stepsContainer .three {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%), url("../img/layer3_tablet.png");
  }
  body main .steps.center .stepsContainer .step {
    width: 236px;
    height: 398px;
    margin-bottom: 0px;
  }
  body main .partnerSearch h3 {
    margin-top: 100px;
    margin-bottom: 35px;
  }
  body main .partnerSearch h4 {
    margin-bottom: 40px;
  }
  body main .partnerSearch form {
    margin-bottom: 100px;
  }
  body main .partnerSearch form input[type="text"] {
    width: 240px;
  }
  body main .partnerSearch form input[type="submit"] {
    width: 160px;
  }
  footer .center {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }
  footer .center h5 {
    margin: 0;
  }
  footer .center h6 {
    margin-bottom: 16px;
  }
  footer .center .company {
    width: 135px;
    text-align: left;
  }
  footer .center .company li {
    display: block;
    margin-bottom: 14px;
  }
  footer .center .company li a {
    font-size: 14px;
  }
  footer .center > h6 {
    text-align: left;
    width: 135px;
  }
  footer .center .design {
    text-align: right;
  }
}

@media screen and (min-width: 940px) {
  .center {
    width: 940px;
    margin: auto;
  }
  body main .steps.center {
    width: 940px;
    margin: auto;
  }
  body main .steps.center .stepsContainer {
    justify-content: space-between;
  }
  body main .steps.center .stepsContainer .one {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%), url("../img/layer1.png");
  }
  body main .steps.center .stepsContainer .two {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%), url("../img/layer2.png");
  }
  body main .steps.center .stepsContainer .three {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%), url("../img/layer3.png");
  }
  body main .steps.center .stepsContainer .step {
    width: 300px;
    height: 400px;
  }
}
